/* Menu.css */
.food-item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .food-item-list .food-item-card {
    width: 30%;
    margin: 20px 0;
    padding: 15px;
    background-color: #f8f8f8;
    border-radius: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .category-filter {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .category-filter button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .category-filter button:hover {
    background-color: #555;
  }
  